name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Node.js environment
      uses: actions/setup-node@v3.2.0
      with:
        node-version: <17.0.0
        cache: 'npm'
        cache-dependency-path: webapp/package-lock.json
    - run: npm ci
      working-directory: webapp
    - run: npm test
      working-directory: webapp
    - run: npm run build
      working-directory: webapp
    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.17
    - name: Build
      run: go build -v ./...
      working-directory: app